$app = jettest
$header_height = 41px
$header_height_collapsed = 38px

/*The fonts*/
@font-face {
  font-family: 'Liberation Mono';
  src: url("fonts/LiberationMono-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Liberation Mono';
  src: url("fonts/LiberationMono-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Liberation Mono';
  src: url("fonts/LiberationMono-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Liberation Mono';
  src: url("fonts/LiberationMono-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

/*Main definitions*/
body
	font-family: 'Liberation Mono', sans-serif
	height: auto

.{$app}-main
	/*margin-bottom: $footer_height*/
	margin-top: $header_height
	width: 100%

.{$app}-header
	position: fixed
	top: 0
	left: 0
	height: $header_height
	width: 100%
	z-index: 1000

.{$app}-form-label
	margin-top: 10px!important

/*Tuktuk overrides*/
@media (max-width: 767px)
	nav button, nav .button, nav a
		display: inline-block!important

	nav
		margin-top: 0

	.{$app}-header
		height: $header_height_collapsed

	.{$app}-main
		margin-top: $header_height_collapsed
